:root{
	--mainColor:#152028;
	--secondaryColor:#fff;

	--borderColor:#c1c1c1;

	--mainText:white;
	--secondaryText:grey;

	--themeDotBorder:#fff;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#111921;


	--buttonColor:black;


}